{{#partial "title" }}
  HEROES
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

<div class="row">
    <div class="col-md-6">
        <h1>Heroes</h1>

            {{#if heroes}}
                {{#each heroes}}
                <ul>
                    <li>{{name}} <br> <a href = "/heroes/{{id}}">Hero Dossier....</a></li>
                </ul>
                {{/each}}
            {{else}}
            <p>No Heroes Enlisted!</p>
            {{/if}}
    </div>
</div>
{{/partial}}

{{> layout.hbs}}